
/*
.wrapper {
  // or 49.500px
  margin-top: 40.500px!important;
  margin-bottom: 40.500px!important;
}
*/

.btn-dropdown-menu {
  width: 100px;
  margin: 20px;

}

.dropdown-menu {
  width: 100px!important;
  padding-bottom: 20px!important;
}

.logo-img {
  width: 200px;
}

.small-logo-img {
  width: 30px;
}

.content-wrapper {
  padding: 50px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: white;
  background-color: #b6251c;
  font-weight: bold;
}

.skin-red .main-header .navbar .nav > li > a {
  color: white;
  background-color: #b6251c;
  font-weight: bold;
}

.breadcrumb>li {
  display: inline-block;
  font-size: 15px;
}

.content-header {
  padding: 25px;
}

.content-wrapper {
  padding-top:10px;
}

.box-body {
  padding: 25px!important;
  padding-top: 10px!important;
}

.timeline-row {
  padding-left: 50px;
  padding-right: 50px;
}

.center-block {
  float:none!important;
}

th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 0;
}


/*
Generic Styling, for Desktops/Laptops
*/
table {
  margin:0 auto; width: 99%;
  border-collapse: collapse;
}
/* Zebra striping */
th.rotate {
  /* Something you can count on */
  height: 120px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    /* Magic Numbers */
          translate(0px, 15px)
            /* 45 is really 360 - 45 */
          rotate(290deg);
  width: 50px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 0;
}
th.rotate {
                   height: 120px;
                   white-space: nowrap;
                 }

h3 {
  display: block;
  font-size: 1.17em!important;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold!important;
}
