@import url("bootstrap.min.css");

html,
body {
    height: 100%;
    background: url("/images/front-page.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-default {
    background: white !important;
    border-bottom: none !important;
}

.navbar-default .navbar-nav > li > a {
    border-bottom: none;
    background: none !important;
    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Segoe Print';
    src: url('../fonts/segoepr.ttf');
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    border-bottom: 1px solid white !important;
    background: none !important;
    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-default .navbar-brand {
    color: white !important;
    font-weight: 400;
}

.logo {
    max-width: 100%;
    max-height: 30px;
}

.navbar-default .navbar-nav > li > a {
    line-height: 1.5;
    background: -webkit-linear-gradient(#dd2d3c, #87081a) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    text-shadow: none !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: -webkit-linear-gradient(#dd2d3c, #87081a) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
}

.navbar-default .navbar-collapse {
    border-color: none !important;
    background: white !important;
    /*border-bottom: 1px solid #87081a;*/
    /*border-top: 1px solid #87081a;*/
}

.navbar-default .navbar-toggle {
    background-color: red;
    background-image: linear-gradient(#dd2d3c, #87081a);
    border: none;
}

.navbar-default .navbar-toggle {
}

.navbar-toggle {
    margin-top: 15px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 75px 15px 25px;
}

.jumbotron {
    text-align: center;
    background: white;
}

.home-container {
    background: white;
    min-height: 500px;
    border-radius: 5px;
}

.home-container::after {
    margin-bottom: 10px;
}

.footer {
    height: 60px;
    padding-top: 20px;
    background: white;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/*-- Sorting --*/

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

/*-- Other --*/

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* add red asterisk to required form fields */
div.required label:after {
    content: " *";
    color: #e13431;
}

/*-- GridView options display tweaks --*/

.user-index td:last-child,
.articles-admin td:last-child {
    width: 68px;
}

.article-view th {
    min-width: 90px;
}

/*-- Css for nicer display of boolean yes/no values --*/

.boolean-true {
    font-weight: bold;
    color: #00b100;
}

.boolean-false {
    font-weight: bold;
    color: #e34542;
}

/*-- Css for nicer display of user roles --*/

.role-theCreator {
    font-weight: bold;
    color: #f9f9f9;
}

.role-admin {
    font-weight: bold;
    color: #c4a500;
}

.role-editor {
    font-weight: bold;
    color: #a700a7;
}

.role-support {
    font-weight: bold;
    color: #009d00;
}

.role-premium {
    font-weight: bold;
    color: #6060ff;
}

.role-member {
    font-weight: bold;
}

/*-- Colors used for various data presentation purposes --*/

.blue {
    font-weight: bold;
    color: #7373ff;
}

.green {
    font-weight: bold;
    color: #009d00;
}

.gold {
    font-weight: bold;
    color: #c4a500;
}

hr.top {
    margin-top: 0px;
    border-width: 2px;
    border-color: #333;
    text-align: left;
}

hr.article-devider {
    border-width: 1px;
    border-color: #444;
    border-style: dashed;
    text-align: left;
}

/*-- Password strength --*/

/* hide strength meter so we can fade it in nicely with jQuery */
.nz-meter-container {
    display: none;
}

/* small strength meter display tweaks for this theme */
#form-signup table,
#form-user table,
#reset-password-form table {
    background-color: transparent;
}

.login-container {
    margin: 0 auto;
    float: none;
    padding-top: 10%;
}

.login-body {
    background-color: white;
    padding: 20px;
    color: #6F100A;
    border-radius: 4px;
}

.login-title {
    color: #666;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}

.login-bottom {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-button {
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    background-color: #b6251c;
}

.logo-img {
    width: 85%;
    height: 100%;
    vertical-align: middle;
    padding: 20px;
}

.has-error .control-label,
.has-error .help-block,
.has-error .form-control
.form-control-feedback {
    color: #b6251c;
    border-color: #b6251c;
}

/* Color of valid field */
.has-success .control-label,
.has-success .help-block,
.has-success .form-control
.form-control-feedback {
    color: #b6251c;
    border-color: #b6251c;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

a {
    color: #b6251c;
}

.error-container {
    margin: 0 auto;
    float: none;
    padding-top: 10%;
}

.error-body {
    background-color: white;
    padding: 20px;
    color: #6F100A;
    border-radius: 4px;
}

.error-title {
    color: #666;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}

.error-bottom {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.back-button {
    float: right;
    font-weight: bold;
    color: #ffffff;
    width: 30%;
    background-color: #b6251c;
}

/* or maybe red...
input {
    background: #b6251c!important;
    color: white!important;
    font-weight: bold!important;
}